<!-- <mat-toolbar color="primary">
  <ng-container *ngIf="-!isAdmin; else viewAdmin">
    <span>My APP</span>
    <span class="spacer"></span>
  </ng-container>

  <a *ngIf="!isLogged; else viewLogout" mat-button routerLink="/login">Login</a>

  <a *ngIf="isAdmin" mat-button routerLink="/admin">Admin</a>

</mat-toolbar>

<ng-template #viewLogout>
  <a mat-button (click)="onLogout()">Logout</a>
</ng-template>

<ng-template #viewAdmin>
  <button mat-icon-button (click)="onToggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
</ng-template> -->

<header>
  <mat-toolbar color="accent">
    <ng-container>
      <span>Servicio al Cliente</span>
      <span class="spacer"></span>
    </ng-container>
    <a *ngIf="!isLogged; else viewLogout" mat-button routerLink="/login">Login</a>
    <a *ngIf="isAdmin"#viewAdmin >{{isAdmin}}</a>
  </mat-toolbar>

  <ng-template #viewLogout>
    <a mat-button (click)="onLogout()">Logout</a>
  </ng-template>

  <ng-template #viewAdmin>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
  </ng-template>


</header>
