hola
<form id="hola">

    <h2 id="texto2">Inicio Sesion!</h2>
    <h2 id="text2">Bienvenido Administrador</h2>
  <fieldset id ="caja">
      <mat-form-field appearance="fill">
          <mat-label>Rut</mat-label>
          <input matInput name="rut" type="text" >
        </mat-form-field>
        <br>
  
        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput name="contrasena" type="password" >
        </mat-form-field>
        <br>
  
           
       <button mat-flat-button color="accent" type="submit" id="boton1">iniciar sesion</button>
       
      </fieldset>
  </form>
<h2 id="texto">Usted esta iniciando sesion como administrador, si desea ingresar como usuario por favor seleccione el boton Login.</h2>